table{
    border :5px solid black;
}
td{
    border: 1px solid black;
    padding:30px
    
}

tr{
    border: 1px solid black;
   
}

.rojo{
    background-color: brown;
}
.blanco{
    background-color: beige;
}
.